@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#12372A;
  }
  
  .container {
    text-align: center;
    padding: 80px;
    border-radius: 8px;
    background-color: #436850;
  }
  
  h2{
    font-family:'Times New Roman', Times, serif ;
    position: relative;
    bottom: 40px;
    color: #FBFADA;
  }

  h4{
    font-family:'Times New Roman', Times, serif ;
    position: relative;
    top: 40px;
    color: #FBFADA;
  }

  p{
    position: relative;
    top: 50px;
    color: #FBFADA;
    font-family:'Times New Roman', Times, serif;
  }

  .form-control{
    background-color:#FBFADA;
  }

  
  .input-group-text{
    background-color: #FBFADA;
    color: #12372A;
  }
 
  
